## Input

In [4]:
import pandas as pd

In [5]:
def tarifa(distribuidora: str, n_cliente: int,  tipo_tarifa:str , consumo:float, transporte:float  ):
    distribuidora = distribuidora
    n_cliente = n_cliente
    tipo_tarifa = tipo_tarifa
    consumo = consumo / 1.19
    trasporte = (transporte/1.19) + 0.508
    inyeccion = consumo
    costo_total = consumo + trasporte


    detalle_tarifa = []
    detalle_tarifa.append ({

        "Distribuidora" :  distribuidora,
        "Nº de cliente" : n_cliente,
        "Tipo de tarifa" : tipo_tarifa,
        "Consumo" : consumo,
        "Transporte, servicio, etc" : trasporte,
        "Inyeccion" : inyeccion , 
        "Costo total" : costo_total
    })
    
    return detalle_tarifa

In [6]:
tarifa_met = tarifa ("Flux Solar", 980, "Dinamica", 85.799, 22.251)

data_tarifa = pd.DataFrame(tarifa_met)
data_tarifa

,Distribuidora,Nº de cliente,Tipo de tarifa,Consumo,"Transporte, servicio, etc",Inyeccion,Costo total
0,Flux Solar,980,Dinamica,72.1,19.206319,72.1,91.306319