### Input

In [4]:
import pandas as pd
import json

In [5]:


with open('../../compra_directa/input/informacion_energetica.json') as archivo_info_energetica:
    datos_info_energetica_json=json.load(archivo_info_energetica)
datos_info_energetica=pd.DataFrame(datos_info_energetica_json)

In [6]:
datos_info_energetica

           Mes  kWh/Mes
0        Enero    61504
1      Febrero   124678
2        Marzo    48040
3        Abril    14128
4         Mayo     6080
5        Junio     3381
6        Julio     7633
7       Agosto     4703
8   Septiembre     4573
9      Octubre     3787
10   Noviembre    23068
11   Diciembre    69082

In [9]:
datos_info_energetica["kWh/Mes"].sum()

370657