In [1]:
import numpy_financial as npf
import pandas as pd
import json

In [2]:
#caracteristica_instalacion()
## plazo
## valor_deuda
## tasa_interes







def calculo_financiamiento(plazo:int, valor_deuda: float, tasa_interes:float ):

    calculo_financiamiento= []

    for a in range(plazo):
        if int(a) == 0:
            capital = valor_deuda * -1
            cuota = npf.pmt(tasa_interes , plazo, valor_deuda)
            pago_intereses = capital * tasa_interes
            amortizacion = cuota - pago_intereses


            calculo_financiamiento.append({
                "Ano" : a+1,
                "Capital": round(capital),
                "Cuota": round(cuota),
                "Pago intereses": round(pago_intereses),
                "Amortizacion": round(amortizacion)
            })

        else:
            capital_anterior = calculo_financiamiento[a-1]["Capital"]
            amortizacion_anterior = calculo_financiamiento[a-1]["Amortizacion"]
            capital = capital_anterior - amortizacion_anterior
            cuota = cuota
            pago_interes = capital * tasa_interes
            amortizacion = cuota - pago_interes

            calculo_financiamiento.append({
                "Ano" : a+1,
                "Capital": round(capital),
                "Cuota": round(cuota),
                "Pago intereses": round(pago_interes),
                "Amortizacion": round(amortizacion)
            })
        
    return calculo_financiamiento

In [3]:
calculo_financiamiento_met = calculo_financiamiento(8, 152921943, 0.1075)
data_calculo_financiamiento = pd.DataFrame(calculo_financiamiento_met)
data_calculo_financiamiento

   Ano    Capital     Cuota  Pago intereses  Amortizacion
0    1 -152921943 -29451523       -16439109     -13012414
1    2 -139909529 -29451523       -15040274     -14411249
2    3 -125498280 -29451523       -13491065     -15960458
3    4 -109537822 -29451523       -11775316     -17676207
4    5  -91861615 -29451523        -9875124     -19576400
5    6  -72285215 -29451523        -7770661     -21680863
6    7  -50604352 -29451523        -5439968     -24011555
7    8  -26592797 -29451523        -2858726     -26592797

In [4]:
with open('data/calculo_financiamiento.json', 'w') as file:
        json.dump(calculo_financiamiento_met, file, indent=4)

In [5]:
import numpy_financial as npf

meses=8*12


cuota = npf.pmt(0.1075, 8, 152921943)
print(round(cuota, 0))

-29451523.0